
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Saludar Local</h4>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" #localNombre
        [(ngModel)]="localNombre.value"
        name="nombre" id="nombre" placeholder="Nombre">
    </div>
    <button type="button" (click)="localNombre.value = '' "
      class="btn btn-primary">Borrar</button>
  </div>
  <div class="card-footer text-muted">
    <p>Hola {{localNombre.value}} </p>
  </div>
</div>
