<p>
  about works! {{(!empresa) ? ' en mi empresa' : empresa}}
  
</p>
<p>
  Empresa cliente: {{cliente?.nombre}}
</p>
<p>
  <mat-checkbox>Me gusta material</mat-checkbox>
</p>
<cas-articulo class="container" [titulo]="'Angular Avanzado'" [autor]="'Pepe Perez'">
    <div class="col-6">
      <p>hola caarcola</p>
      <img src="../../assets/logo.svg" alt="">
    </div>
</cas-articulo>
<div class="cuadro">
</div>
<cas-articulo [titulo]="'Angular Fundamentos'" [autor]="'Daniel Verdú'"></cas-articulo>
