.cuadro{
    width: 60vmin;
    height: 60vmin;
    background-image: conic-gradient(#2f394d, #fff);
    border-radius: 50%;

animation: rotate 1.8s ease-in-out infinite;
};
@keyframes rotate{
    from {transform: rotate(0);
    }
    to{transform: rotate(360deg)
    }
}