ul {
    list-style: none;
}
.circle {
    scroll-behavior: smooth;
    margin: 2rem 0;
    margin: 0 auto;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 10px solid rgba(196, 196, 196, 0.8);
    border-top-color: rgb(0, 0, 0);
    animation: spin 2s infinite linear;
  }
  @keyframes spin { 
      0%{
        border-top-color: rgb(0, 0, 0); 
        border-right-color: rgb(0, 0, 0);
        border-bottom-color: rgb(0, 0, 0);

      }
      100%{
        border-top-color: rgb(0, 0, 0) ;
        border-right-color: rgb(0, 0, 0); 
        border-bottom-color: rgb(0, 0, 0);
        transform: rotate(360deg)
      }
    
  } 