div {margin: 2rem}
p.output {
    min-height: 3rem;
    background-color: bisque;
}
main {
    min-height: 70vh;
}
footer {
    display: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-top: 1px solid brown;
}