<div class="card">
  <div class="card-header">Componente Saludar</div>
  <h4 class="card-title">Componente Saludar</h4>
  <div class="card-body">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" [(ngModel)]="nombre"  name="nombre" id="nombre" placeholder="Nombre">      
    </div>
    <button (click)="btnBorrar()" type="button" class="btn btn-primary">Saludame!</button>
  </div>
  <div class="card-footer text-muted">Hola {{nombre}}</div>
</div>
